:root {
  --color-primary: #434343;
  --color-secondary: #434343;
  --color-text:#202224;
  --color-border : #c6c2c2;
  --color-svg: #B2B2B2;
  --color-red: #EA0234;
  --color-orange: #FFDED1;
  --color-green: #D9F7E8;
  --color-yellow : #FFF3D6;
  --color-blue: #E5E4FF;
}