body,
html {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  direction: ltr;
}
* {
  numberingsystem: "latn";
  /* margin: 0;
  padding: 0; */
}

body {
  font-family: "TimesNewRoman", serif;
  background-color: #f9f9f9;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url("/font/TimesNewRoman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
